.intro {

	&__wrapper {
		box-sizing: border-box;
		min-height: 600px;
		padding: 100px 460px 5px 60px;
		background: url("../img/bg/lollypop.png") 100% 100% no-repeat;
		background-size: 200px 520px;
		@media @retina2x {
			background: url("../img/bg/lollypop@2x.png") 100% 100% no-repeat;
			background-size: 200px 520px;
		}
		@media @mobile {
			min-height: auto;
			padding: 55px 0 40px;
			background: transparent;
		}
	}

	&__header {
		margin: 0;
		margin-bottom: @h3;
		font-size: @h3;
		line-height: @h3;
		font-weight: 400;

		@media @mobile {
			margin-bottom: floor(@h3 * 0.8);
			font-size: floor(@h3 * 0.8);
			line-height: floor(@h3 * 0.85);
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 0.3em;
		font-size: @text-base;
		font-weight: 300;
		line-height: 1.3em;
		color: @text-gray;

		@media @mobile {
			margin-bottom: 0.5em;
			font-size: floor(@text-base * 0.9);
			font-weight: 300;
		}
	}
}

.program {
	background-color: #f2f0e6;

	&__title-wrapper {
		padding: 55px 0 45px;
		text-align: center;
		color: @white;
		background: #9F641E url("../img/bg/bg-mid--desktop@1x.jpg") 50% 50% no-repeat;
		background-size: cover;

		@media @mobile {
			padding: 45px 0 35px;
			background: #9F641E url("../img/bg/bg-mid--resize.jpg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: @h2;
		letter-spacing: 2px;
		line-height: @h2;
		font-weight: 100;

		@media @mobile {
			font-size: @h2 * 0.7;
			letter-spacing: 1px;
			line-height: @h2 * 0.75;
		}
	}

	&__subtitle {
		display: block;
		font-size: @h3 - 3;
		font-weight: 400;

		@media @mobile {
			font-size: @h3 * 0.75;
		}
	}

	&__item-wrapper {
		padding-top: 60px;
		text-align: center;
	}

	&__item {
		box-sizing: border-box;
		max-width: 49%;
		padding: 0 10px;

		@media @mobile {
			max-width: none;
			padding: 0;
		}

		&:nth-child(1) {
			float: left;
			@media @mobile {
				float: none;
		  }
		}

		&:nth-child(2) {
			float: right;
			@media @mobile {
				float: none;
		  }
		}
	}

	&__bg {
		display: block;
		width: 144px;
		height: 144px;
		margin: 0 auto 15px;
		overflow: hidden;
		background-image: url("../img/icons/sprites/index-icons.svg");
		background-repeat: no-repeat;
	}

	&__bg--excursion {
		background-position: 0 -82px;
	}

	&__bg--test {
		background-position: 0 -708px;
	}

	&__bg--consultation {
		background-position: 0 -505px;
	}

	&__bg--personal-plan {
		background-position: 0 -361px;
	}

	&__item-title {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: @h3 - 3;
		line-height: @h3 - 3;
		font-weight: 300;
	}

	&__item-description {
		padding: 0 20px;
		margin-top: 0;
		margin-bottom: 60px;
		font-size: @text-base;
		line-height: @text-base + 5;
		font-weight: 300;
		color: @text-gray;
	}

	&__comfort-study {
		padding: 35px 130px 30px;
		margin: 0;
		text-align: center;
		font-size: 32px;
		font-weight: 300;
		color: @white;
		text-transform: uppercase;
		letter-spacing: 1px;

		@media @mobile {
			padding: 30px 0 25px;
			font-size: @text-base;
		}
	}
}

.about {

	&__title-wrapper {
		padding: 110px 0 115px;
		background: #805451 url("../img/bg/about@1x.jpg") 50% 0 no-repeat;
		@media @retina2x {
			background: #805451 url("../img/bg/about@2x.jpg") 50% 0 no-repeat;
			background-size: cover;
		}
		@media @resize {
			background: #805451 url("../img/bg/about--resize.jpg") 50% 50% no-repeat;
			background-size: cover;
		}
		@media @mobile {
			padding: 90px 0 95px;
			background: #805451 url("../img/bg/about--resize.jpg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	&__title {
		margin: 0;
		font-size: @h2;
		line-height: @h2;
		letter-spacing: 2px;
		font-weight: 100;
		text-transform: uppercase;
		text-align: center;
		color: @white;

		@media @mobile {
			font-size: floor(@h2 * 0.8);
			line-height: floor(@h2 * 0.8);
		}
	}

	&__description-header {
		padding-left: 60px;
		margin-top: @h3 - 5;
		margin-bottom: @h3 - 15;
		font-size: @h3;
		line-height: @h3;
		font-weight: 300;

		@media @mobile {
			padding-left: 0;
			margin-bottom: floor(@h3 * 0.8);
			font-size: floor(@h3 * 0.8);
			line-height: floor(@h3 * 0.9);
		}
	}

	&__description-wrapper {
		padding: 0 500px 45px 60px;
		background: url("../img/bg/mah-boi.png") no-repeat 100% 100%;
		background-size: 617px 630px;

		@media @retina2x {
			background: url("../img/bg/mah-boi@2x.png") no-repeat 100% 100%;
			background-size: 617px 630px;
		}

		@media @mobile {
			padding: 0;
			background: transparent;
		}
	}

	&__description-text {
		margin-bottom: @text-base + 4;
		font-size: @text-base;
		line-height: 1.3em;
		color: @text-gray;
		@media @mobile {
			margin-bottom: @text-base;
			font-size: floor(@text-base * 0.9);
		}
	}

	&__description-text:last-child {
		margin-bottom: 0;

		@media @mobile {
			margin-bottom: @text-base + 10;
		}
	}

	&__description-text&__description-text--highlighted {
		padding-right: 10%;
		color: @blue;

		@media @mobile {
			padding-right: 0;
		}
	}

	&__digits-header {
		padding-top: 35px;
		padding-bottom: 25px;
	}

	&__digits-wrapper {
		max-width: 1040px;
		padding-top: 80px;
		margin: 0 auto;

		@media @mobile {
			padding-top: 40px;
			max-width: none;
			margin: 0;
		}
	}

	&__digits-figure {
		width: 33%;
		margin-bottom: 70px;
		font-size: 40px;
		font-weight: 300;
		line-height: 40px;
		color: @text-gray;

		@media @mobile {
			width: 33.3333%;
			font-size: floor(@text-base * 0.9);
			line-height: @text-base;
		}
	}

	&__digits-figure span {
		display: block;
		font-size: 124px;
		font-weight: 100;
		line-height: 124px;
		letter-spacing: -5px;
		color: @blue;

		@media @mobile {
			font-size: 56px;
			line-height: 56px;
			letter-spacing: -2px;
		}
	}

	&__schools-header {
		padding-top: 35px;
		padding-bottom: 40px;
	}

	&__schools-map {
		height: 675px;
		background-color: #dedede;
	}

	&__schools-wrapper {
		max-width: 1040px;
		padding-top: 95px;
		margin: 0 auto;
		text-align: center;
	}

	&__schools-dpt {
		box-sizing: border-box;
		width: 33%;
		margin-bottom: 105px;
		text-align: left;
	}

	&__schools-district {
		margin-top: 0;
		margin-bottom: 35px;
		font-size: 35px;
		font-weight: 300;
	}

	&__schools-address {
		position: relative;
		padding-left: 80px;
		font-size: 20px;
		font-weight: 300;
		color: @text-gray;
	}

	&__schools-address::before {
		content: "";
		position: absolute;
		z-index: 1;
		top:-15px;
		left: -5px;
		width: 63px;
		height: 58px;
		background-image: url("../img/icons/sprites/index-icons.svg");
		background-repeat: no-repeat;
		background-position: 0 -303px;
	}
}

.presale {

	&__title {
		padding: 25px 0 30px;
		margin: 0;
		text-align: center;
		font-size: @h2;
		font-weight: 300;
		color: @white;

		@media @mobile {
			font-size: floor(@h2 * 0.8);
			line-height: floor(@h2 * 0.8);
		}
	}

	&__wrapper {
		padding-top: 50px;
		padding-bottom: 60px;
		background: #ddd url("../img/bg/bg-bottom.jpg") 50% 0 no-repeat;
		background-size: cover;
		text-align: center;
	}

	&__subtitle {
		position: relative;
		display: inline-block;
		max-width: 1100px;
		padding-left: 90px;
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 57px;
		font-weight: 600;
		color: @blue;

		@media @mobile {
			width: auto;
			padding-left: 30px;
			font-size: @h3;
			line-height: 1.3em;
		}
	}

	&__subtitle::before {
		content: "";
		position: absolute;
		top: -15px;
		left: 0;
		width: 66px;
		height: 82px;
		background: url("../img/icons/sprites/index-icons.svg") no-repeat 0 0;

		@media @mobile {
			left: -45px;
		}
	}

	&__lead {
		padding: 0 250px;
		margin-top: 0;
		margin-bottom: 30px;
		font-size: @h3;
		line-height: @h3;

		@media @mobile {
			padding: 0;
			font-size: @text-base + 10;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 30px;
		font-size: @text-base;
		line-height: @text-base + 4;
		padding: 0 215px;

		@media @mobile {
			padding: 0;
		}
	}
}

.registration {
	padding: 55px 0 65px;
	text-align: center;
	background: @blue url("../img/bg/pattern.png") 0 -15px repeat;

	&__title {
		margin: 0;
		margin-bottom: 30px;
		text-align: center;
		font-size: @h2;
		line-height: @h2;
		font-weight: 400;
		color: @white;
	}

	&__text {
		padding: 0 100px;
		margin: 0;
		margin-bottom: 85px;
		font-size: @h3;
		line-height: @h3;

		@media @mobile {
			padding: 0;
			font-size: @h3 * 0.7;
			margin-bottom: 50px;
		}
	}
}

.list-unstyled {
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;
}
